# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/

# Generated MNIST noisy datasets (large and not required for runtime code)
backend/mnist_noisy/test/**/*.png
backend/mnist_noisy/train/**/*.png

# JS deps / build artifacts
node_modules/
dist/
build/

# Generated logs
backend/**/logs/*.txt

